<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.hikari.transaction.account.mapper.AccountMapper">

    <update id="updateAmountById">
        UPDATE tb_account SET amount=amount-${amount} WHERE id=#{id}
    </update>

    <select id="selectAmount" resultType="java.math.BigDecimal">
        SELECT amount from tb_account WHERE id=#{id}
    </select>

</mapper>