<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.hikari.oauth2.rbac.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="io.hikari.oauth2.rbac.domain.UserDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="status" jdbcType="TINYINT" property="status" />
        <collection property="roles" ofType="io.hikari.oauth2.rbac.domain.RoleDO">
            <id column="role_id" jdbcType="BIGINT" property="id" />
            <id column="name" jdbcType="VARCHAR" property="name" />
            <id column="code" jdbcType="VARCHAR" property="code" />
        </collection>
    </resultMap>

    <select id="selectUserByUsername" resultMap="BaseResultMap">
        SELECT u.id, u.username, u.password, u.status, r.id role_id, r.name, r.code
        FROM sys_user u
        LEFT JOIN sys_user_role ur ON u.id=ur.user_id
        LEFT JOIN sys_role r ON ur.role_id=r.id
        WHERE u.username=#{username}
    </select>

</mapper>