<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.warless.incubator.dubbo.provider.mapper.UserMapper">

    <insert id="insert">
        INSERT INTO tb_user(id, username, password, birth)
        VALUES (
          #{id},
          #{username},
          #{password},
          #{birth}
        )
    </insert>

    <select id="selectById" resultType="User">
      SELECT id, username, password, birth FROM tb_user WHERE id=#{id}
    </select>

</mapper>